@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl font-bold tracking-tight md:text-5xl lg:text-6xl;
  }
  h2 {
    @apply text-3xl font-bold tracking-tight md:text-4xl lg:text-5xl;
  }
  h3 {
    @apply text-3xl font-bold tracking-tight lg:text-4xl;
  }
  h4 {
    @apply text-2xl font-bold md:text-3xl;
  }
  h5 {
    @apply text-xl font-bold md:text-2xl;
  }
  h6 {
    @apply text-lg font-bold md:text-xl;
  }

  :root {
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --background: 240 80% 98%; /* Màu nền - Màu xám nhạt và rất sáng */
    --foreground: 0 0% 20%; /* Màu chữ nền - Màu đen */

    --muted: 240 20% 96%; /* Màu nhạt - Màu xám nhạt và sáng */
    --muted-foreground: 0 0% 40%; /* Màu chữ nền cho màu nhạt - Màu đen */

    --primary: 210 40% 50%; /* Màu chính - Màu xanh lam nhạt */
    --primary-foreground: 0 0% 100%; /* Màu chữ nền cho màu chính - Màu trắng */

    --secondary: 30 100% 60%; /* Màu phụ - Màu cam sáng */
    --secondary-foreground: 0 0% 20%; /* Màu chữ nền cho màu phụ - Màu đen */

    --accent: 45 100% 60%; /* Màu điểm nhấn - Màu vàng sáng */
    --accent-foreground: 0 0% 10%; /* Màu chữ nền cho màu điểm nhấn - Màu đen */

    --destructive: 0 100% 50%; /* Màu hủy bỏ - Màu đỏ sáng */
    --destructive-foreground: 210 40% 98%; /* Màu chữ nền cho màu hủy bỏ - Màu xanh lam nhạt */

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
